<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" >
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>Luckly - Сообщество для всех!</title>
</head>
<body class="text-center">
	<div class="container header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">
		    	<img src="{{ url_for('static', filename='logo.jpg') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
		    	Luckly
			</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link" href="#">Новости</a>
		        </li>
		      </ul>
		      <form class="d-flex">
		        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		        <button class="btn btn-outline-success" type="submit">Search</button>
		      </form>
		    </div>
		  </div>
		</nav>
	</div>
	<div class="container">
		<div class="content">
			Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Ad obcaecati impedit molestiae magnam sit accusantium consequatur, hic non. Eos sunt quo id impedit cum itaque repellendus exercitationem non alias, aperiam deleniti maxime perspiciatis. Ipsam minus architecto repudiandae obcaecati molestias dolor quidem iusto ipsa perferendis dignissimos pariatur autem aut soluta debitis aliquam odit, incidunt doloribus fugiat veritatis repellendus voluptates quasi, rem voluptate recusandae. Asperiores dolores facilis, architecto unde maiores eaque, earum possimus molestiae a repellat, quibusdam, assumenda reiciendis. Placeat sequi quaerat, voluptatibus hic nostrum unde minima, quos aliquam ut corrupti pariatur ullam, cumque odio facilis sint a, nam eveniet laborum molestiae?
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>