<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css" >
	<link rel="icon" type="image/png" href="assets/favicon.ico">
	<title>Luckly - Сообщество для всех!</title>
</head>
<body class="text-center">
    
	<main class="form-signin container">
	  <form>
	    <img class="mb-4" src="assets/logo.jpg" alt="" width="200" height="200">
	    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>

	    <div class="form-floating form-item">
	      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
	      <label for="floatingInput">Логин</label>
	    </div>
	    <div class="form-floating form-item">
	      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
	      <label for="floatingPassword">Пароль</label>
	    </div>

	    <button class="w-100 btn btn-lg btn-primary form-item" type="submit">Авторизоваться</button>
	    <p class="mt-5 mb-3 text-muted">© Fluxstudio 2021</p>
	  </form>
	</main>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>